{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href={% static 'blog/all_posts.css' %}>
<link rel="stylesheet" href={% static 'blog/post.css' %}>
{% endblock %}


{% block title %}
All my posts
{% endblock title %}


{% block content %}
<section>
    <div id="all_post">
    <h2>My Collected Posts</h2>
        <ul>
            {% for post in all_posts %}
            {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}